@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@700&family=Old+Standard+TT&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
}

body {
  overflow-x: hidden;
  font-family: 'Old Standard TT', serif;
}

.main-header{
  background-image: url('https://images.unsplash.com/photo-1504688286307-ebadb37bef9a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:50% 50%;
  background-attachment: fixed;
  position: relative;
}
.main-header h1{
  font-family: 'Grenze Gotisch', cursive;
  font-weight:bold;
  color: #313E15;
  -ms-transform: rotate(25deg); /* IE 9 */
  transform: rotate(25deg);
}
.primary-b-pos{
  position: absolute;
  right: -5px;
  bottom: 40%;
}
#primary-btn{
  padding-right: 35px;
}

#primary-btn:hover { 
  animation: effect 0.4s infinite; 
} 
.book-card:hover{
  animation: effect 0.4s infinite; 
}


@keyframes effect { 
  0% { 
      transform: translateX(0px) rotate(0deg); 
  } 

  20% { 
      transform: translateX(-4px) rotate(-4deg); 
  } 

  40% { 
      transform: translateX(-2px) rotate(-2deg); 
  } 

  60% { 
      transform: translateX(4px) rotate(4deg); 
  } 

  80% { 
      transform: translateX(2px) rotate(2deg); 
  } 

  100% { 
      transform: translateX(0px) rotate(0deg); 
  } 
}
@media (min-width:1199px){
  .main-header h1{
    margin-top: 100px;
  }
}
@media (max-width:700px){
  .main-header h1{
    margin-top: 20px;
    margin-left:20px;
    transform: none;
  }
}